.site {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: 1fr 1fr 3fr 1fr 1fr 1fr;
	grid-template-areas:
	"nav nav"
	"content side"
	"content2 side"
	"footer footer"
}

.masthead {
	grid-area: content;
}

.page-title {
	grid-area: nav;
}

.main-content {
	grid-area: content2
}

.sidebar {
	grid-area: side;
}

.footer-content {
	grid-area: footer;

}
